@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(60px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-mobile {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(0);
	}
}

.animate-slide {
	animation: slide 3.5s infinite;
}

@media (max-width: 1568px) {
	.animate-slide {
		animation: slide-mobile 3.5s infinite;
	}
}

@media (max-width: 768px) {
	.animate-slide {
		animation: none;
	}
}
